.auth-page {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.auth-left {
    width: 36%;
    height: 100vh;
    box-sizing: border-box;

    padding: 2.5rem 3.5rem;

    display: flex;
    flex-direction: column;
}

.auth-content {
    width: 100%;
    max-width: 400px;
}

/* LOGIN */

.login-mode .auth-content {
    margin: auto 0;
}

/* REGISTER */

.register-mode {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.register-mode .auth-content {
    margin-top: 1.25rem;
}

.register-mode .auth-heading {
    margin-bottom: 1rem;
}

.register-mode .auth-heading h1 {
    margin: 0 0 0.35rem;
}

.register-mode .auth-heading p {
    margin: 0;
    line-height: 1.35;
}

.register-mode .auth-tabs {
    margin-bottom: 1rem;
}

.register-mode .auth-tabs button {
    padding: 0.7rem;
}

.register-mode .auth-form {
    gap: 0.7rem;
}

/* Your FormField component */

.register-mode .form-field {
    gap: 0.3rem;
}

.register-mode .form-field label {
    font-size: 0.9rem;
}

.register-mode .form-field__input {
    height: 44px;
    padding: 0.65rem 0.9rem;
}

/* NORMAL SHARED STYLES */

.auth-heading {
    margin-bottom: 2rem;
}

.auth-heading h1 {
    margin-bottom: 0.5rem;
}

.auth-heading p {
    line-height: 1.5;
}

.auth-tabs {
    display: flex;
    margin-bottom: 2rem;

    border-bottom: 1px solid #ddd;
}

.auth-tabs button {
    flex: 1;

    padding: 1rem;

    border: none;
    background: none;

    cursor: pointer;
}

.auth-tabs button.active {
    border-bottom: 2px solid #5b35f5;
    font-weight: 600;
}

.auth-form {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
}

.auth-right {
    flex: 1;

    display: flex;
    align-items: center;

    background:
        radial-gradient(circle at 80% 80%, #251063 0%, transparent 35%), #0d092c;

    color: white;
}

.auth-right-content {
    max-width: 650px;
    margin-left: 12%;
}

.auth-right-logo {
    width: 80px;
    margin-bottom: 1rem;
}

.auth-right-content h2 {
    margin: 0 0 1.5rem;

    font-size: 2.5rem;
    line-height: 1.2;
}

.auth-right-content p {
    font-size: 1.6rem;
    line-height: 1.6;

    opacity: 0.7;
}

.form-success {
    margin: 0;

    font-size: 0.9rem;
    color: #2e8b57;
}
